html{
    box-sizing: border-box;
}

*, *::before, *::after{
    box-sizing: inherit;
    margin: 0;
    padding: 0;
}

body{
    font-family: 'Lato', sans-serif;
    background-color: #EEEEEE;
}


nav {
    width: 100%;
    background-color: white;
    padding-left: 30px;
    padding-right: 10px;
    position: fixed;
    top: 0;
}

header{
    margin-top: 70px;
}
  
.logo {
    display: inline-block;
}

.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
  
.nav-links {
    list-style: none;
    display: flex;
}
  
.nav-item a {
    display: inline-block;
    padding: 10px 15px;
    text-decoration: none;
    color: black;
}
  
.nav-item:hover a {
    text-decoration: underline;
}
  
.logo img {
    width: 200px;
    vertical-align: middle;
}

form{
    max-width: 500px;
    text-align: center;
    margin: 20px auto;
}

form input[type=email]{
    height: 25px;
    margin-top: 10px;
}


form input[type=submit]{
    border: none;
    width: 120px;
    height: 25px;
    margin-left: 10px;
    background-color: gold;
    font-weight: bold;
    cursor: pointer;
}

.features{
    max-width: 700px;
    margin: 50px auto;
}

.feature{
    margin: 50px 0;
    display: flex;
}

.feature i{
    color: #FF8C00;
}

.feature .fa{
    font-size: 3em;
}

.feature .icon{
    align-items: center;
    justify-content: center;
    width: 20vw;
}

.feature .desc{
    display: flex;
    flex-direction: column;
    width: 80vw;
}

.video{
    margin-top: 50px;
    display: flex;
    justify-content: center;
}

.pricing{
    max-width: 700px;
    margin: 60px auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.product{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: calc(100% / 3);
    margin: 10px;
    border: 1px solid black;
    border-radius: 3px;
}

.product > .level{
    background-color: #ddd;
    color: black;
    padding: 15px 0;
    width: 100%;
    text-transform: uppercase;
    font-weight: bold;
}

.product > h2{
    margin-top: 15px;
}

.product > ol{
    margin: 15px 0;
}

li{
    list-style: none;
}

.product > button{
    border: none;
    margin: 15px 0;
    background-color: #f1c40f;
    font-weight: normal;
}

.btn{
    padding: 0 20px;
    height: 40px;
    font-size: 1em;
    border-radius: 2px;
    text-transform: uppercase;
}

footer{
    background-color: #DDDDDD;
    display: flex;
    justify-content: space-between;
}

footer p{
    padding: 10px 15px;
}

