html{
    box-sizing: border-box;
}

*, *::before, *::after{
    box-sizing: inherit;
    margin: 0;
    padding: 0;
}

body{
    font-family: 'Lato', sans-serif;
}


nav {
    width: 100%;
    background-color: white;
    padding-left: 30px;
    padding-right: 10px;
}
  
.logo {
    display: inline-block;
}

.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
  
.nav-links {
    list-style: none;
    display: flex;
}
  
.nav-item a {
    display: inline-block;
    padding: 10px 15px;
    text-decoration: none;
    color: black;
}
  
.nav-item:hover {
    background-color: white;
}
  
.nav-item:hover a {
    text-decoration: underline;
}
  
.logo img {
    width: 200px;
    vertical-align: middle;
}

form{
    max-width: 500px;
    text-align: center;
    margin: 20px auto;
}

form input[type=email]{
    height: 25px;
    margin-top: 10px;
}


form input[type=submit]{
    border: none;
    width: 120px;
    height: 25px;
    margin-left: 10px;
    background-color: gold;
    font-weight: bold;
    cursor: pointer;
}

.features{
    max-width: 700px;
    margin: 50px auto;
}

.feature{
    margin: 50px 0;
    display: flex;
}

.feature i{
    color: #FF8C00;
}

.feature .fa{
    font-size: 3em;
}

.feature .icon{
    align-items: center;
    justify-content: center;
    width: 20vw;
}

.feature .desc{
    display: flex;
    flex-direction: column;
    width: 80vw;
}




